<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkedin - home</title>
</head>

<body>
    <h1>MINI LINKEDIN</h1>
    <form method="get" action="/register">
        <button>Register</button>
    </form>
    <br><br>
    <form method="get" action="/login">
        <button>Login</button>
    </form>
</body>

</html>