<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form>
        <label for="name">Name:
            <input name="name" placeholder="Name">
        </label>
        <br><br>
        <label for="email">Email:
            <input name="email" placeholder="E-Mail">
        </label>
        <br><br>
        <label for="password">Password:
            <input type="password" name="password" placeholder="strong password">
        </label>
        <br><br>
        <label for="headline">Headline:
            <input name="headline" placeholder="Headline">
        </label>
        <br><br>
        <label for="bio">Bio:
            <textarea name="bio" placeholder="Say something about you" rows="10" cols="50"></textarea>
        </label>
        <br><br>
    </form>
</body>

</html>