<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form method="post" action="/register">
        <label for="name">Name:
            <input name="user[name]" placeholder="Name" required>
        </label>
        <br><br>
        <label for="email">Email:
            <input name="user[email]" placeholder="E-Mail" required>
        </label>
        <br><br>
        <label for="password">Password:
            <input type="password" name="user[password]" placeholder="strong password" required>
        </label>
        <br><br>
        <label for="headline">Headline:
            <input name="user[headLine]" placeholder="Headline" required>
        </label>
        <br><br>
        <label for="bio">Bio:
            <textarea name="user[bio]" placeholder="Say something about you" rows="10" cols="50" required></textarea>
        </label>
        <br><br>
        <button>Register</button>
    </form>
</body>

</html>